pip~=23.2
voila~=0.3.6
matplotlib~=3.6.3
numpy~=1.26.0
ipympl~=0.8.8
scipy~=1.11.2 
voila-osscar-template~=0.3.2
Cython~=3.0.2
sympy~=1.12
ase~=3.22.1
seekpath~=2.1.0
widget-bzvisualizer~=0.1.0b10
plotly~=5.17.0
pandas~=2.1.1
nglview~=3.0.8
moviepy~=1.0.3
ipyevents~=2.0.2
ipython~=8.18.0
