pip~=23.0
voila~=0.3.6
matplotlib~=3.6.3
numpy~=1.24.2
ipympl~=0.8.8
scipy~=1.10.0 
voila-osscar-template~=0.3.2
Cython~=0.29.33
sympy~=1.11.1
ase~=3.22.1
seekpath~=2.0.1
widget-bzvisualizer~=0.1.0b10
plotly~=5.13.0
pandas~=1.5.3
nglview~=3.0.3
moviepy~=1.0.3
ipyevents~=2.0.1
ipython~=8.10.0
